.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .nav-link {
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    color: #ddd;
    text-decoration: none;
  }
  