.Noting{
    background-color: #E1D7B7;
    margin-left: 45%;
   
    height: 70px;
    margin-top: 10px;
    border-radius: 15px;
    color: black;
}
.Noting:hover{
    background-color: white;
    
}
.HeadNote{
    width: 95%;
    background-color: #E1D7B7;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin: 10px;
}
h3{
    color: black;
    text-decoration: none;
    border-bottom: none;
}
a{
    text-decoration: none;
    border-bottom: none;
    color: inherit;
}